
Chicago, IL 60608
(312) 631-9949
stantjm@gmail.com

## APPLICABLE SKILLS
Acting/Improv, Singing, Ukulele, Interest in History and Language. 

## REPRESENTATIVE EXPERIENCE

**TrueSource, Chicago (Remote) - After-Hours Customer Service Representative**
APRIL 2021 - PRESENT
Provided professional customer service phone support, ensuring all assigned inbound and outbound calls are prioritized by level of urgency.
Documented calls and issue/update work orders within internal service system and external customer portals.
Communicated all customer service issues in a timely, efficient, and knowledgeable manner, resolving them according to all relevant protocols.

**Half Price Books,  San Antonio - Bookseller**
FEBRUARY 2016 - OCTOBER 2019
Boosted sales of Video Games, Board Games, Electronics and Young Adult Fiction by expanding and organizing said sections and creating/maintaining attractive displays to showcase key merchandise. 
Engaged children by performing story time in the children’s section.
Drove sales by engaging customers in dialogues, introducing them to new authors/artists and hosting community events such as game nights.

**Shoreline Sightseeing,  Chicago - Docent**
JUNE 2011 - DECEMBER 2015
Creation/presentation of 75-minute Architecture/History Boat Tour on the Chicago River. 
Adapted to changes in route; provided guests with dining/entertainment recommendations.

**Search Inc, Chicago - Administrative Assistant**
APRIL 2008 - JUNE 2011
Front desk/phone reception, filing/organization, tracking of employee phones/vehicles. 
Entry/preparation of employee & client payroll. 

**Borders Inc, Chicago - Cashier/Bookseller** 
FEBRUARY 2007 - APRIL 2008
Organization/maintenance of displays, increasing sales of Mass Market Paperbacks. 
Utilization of recommendations and up-selling to maintain high sales/membership numbers. 

## EDUCATION & TRAINING
Dominican University - MLIS Graduate May 2023.
Western Kentucky University - BFA Performing Arts (May 2005, Summa Cum Laude)
The Annoyance Theatre - Improv Program 

##SPECIAL SKILLS & FUN FACTS
Sound/Video Editing, Interest in Cataloging/Metadata, Ukulele, LEGO Aficionado.
