<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h5 class="footer-heading">Contact</h5>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Email</li><li><a class="u-email" href="mailto:stantjm@gmail.com">stantjm@gmail.com</a></li></ul>
    </div>

      <div class="footer-col footer-col-2">
        <ul style="list-style-type:none">
          <p>Phone: (312) 631-9949</p>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Instagram: @critical_wit</p>
      </div>
    </div>

  </div>

</footer>
  