---
---

@import "{{ site.theme }}";

* { background-color:rgb(132, 185, 173); }

.essay { line-height: 200%;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none; }

footer { color: black;
text-align: center; }

.page-heading { align-content: center; 
text-align: center; }

.footer-heading { font-size: smaller; }

.content-right {
    @media all and (min-width: 960px) {
        width: 66%;
        float: right;
    }
}

.image-left {
    @media all and (min-width: 960px) {
        width: 50%;
        float: left;
        padding-right: 12px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

img {
    max-width: 100%;
    height: auto;
}