---
---

@import "{{ site.theme }}";

* { background-color: rgb(159, 161, 173);}

.essay { line-height: 200%; }

footer { color: black;
text-align: center; }

.page-heading { align-content: center; 
text-align: center; }

.footer-heading { font-size: smaller; }